@model IEnumerable<MVCSampleApp.Models.Service>

@{
   
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                <a asp-action="AddService" asp-route-ServiceId="@item.ID" asp-route-ClientId = "@ViewBag.Id">Add</a> 
            </td>
        </tr>
}
    </tbody>
</table>
