@model IEnumerable<MVCSampleApp.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name.FirstName)
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.Income)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                <a asp-action="AvailableServices" asp-route-id="@item.ID">AddService</a> |
                <a asp-action="RegisteredServices" asp-route-id="@item.ID">RemoveService</a>
                </td>
        </tr>
}
    </tbody>
</table>
